.header {
  display: flex;
  justify-content: center;
  background-color: var(--bg-banner);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80ch;
  padding: 1rem;
}

.link {
  color: var(--fc-banner);
  text-decoration: none;
  font-size: 1.3rem;
}

.link.bold {
  font-weight: bold;
}
