.listed {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  cursor: pointer;

  &:hover {
    background-color: var(--bg-listed);
  }
}

.heading {
  color: var(--fc-listedTitle);
}

.description {
  color: var(--fc-listedSnippetTag);
}

.link {
  text-decoration: none;
}
