.listed {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  cursor: pointer;

  &:hover {
    background-color: var(--bg-listedSnippet);
  }
}

.heading {
  color: var(--fc-listedSnippetTitle);
}

.description {
  color: var(--fc-listedSnippetTag);
}
