.link {
  color: none;
  text-decoration: none;
}

.listed {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;

  section h2 {
    color: var(--fc-listedSnippetTitle);

    &:hover {
      text-decoration: underline;
    }
  }

  div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    background-color: var(--bg-listedSnippet);
  }
}

.tag {
  color: var(--fc-listedSnippetTag);
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.time {
  color: var(--dark-grey);
  font-size: 0.9rem;
}
